*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid red;
    margin: 3px 0;
    background: cyan;
    padding: 9px;
}
.bg-primary{
    background-color: blueviolet;
}
.text-success{
    color: white;
}